<div ng-controller="groupController as groups">
  <md-content style="overflow-x:hidden;" flex="80" flex-offset="10">
      <h1>My Groups
        <md-button ng-controller="groupController" ng-click="showTabDialog($event)" style="position: absolute; right: 0;" class="md-fab md-mini md-secondary" aria-label="New Group">
            <md-icon class="fa fa-plus fa-lg" style="margin-top: 45%; color: white;"></md-icon>
        </md-button>
      </h1>
      <md-divider></md-divider>

      <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="50" layout="column">
          <md-card md-theme="default" ng-repeat="group in myGroupsList" ng-if="$index%2==0">
            <md-card-title style="background-color: #00BF96">
              <span class="md-headline" style="color: white;">{{group.name}}</span>
            </md-card-title>
            <md-card-title>
              <span flex="40" class="md-subhead">Capacity: {{group.size}} of {{group.limit}}</span>
              <dir-pagination-controls style="text-align: right; margin-top: -5%;" flex="60" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html" pagination-id="group.name"></dir-pagination-controls>
            </md-card-title>
            <md-card-content md-scroll-y style="height: 150px; overflow: hidden;">
              <md-list dir-paginate="members in group.members| itemsPerPage: pageSize" current-page="currentPage" pagination-id="group.name">
                <md-list-item>
                  <img ng-src="{{members.image}}" class="md-avatar" />
                  <!--<div class="md-list-item-text" layout="row">-->
                      <p>{{members.first}} {{members.last}}</p>
                  <!-- </div> -->
                  <md-divider ></md-divider>
              </md-list-item>
            </md-list>
          </md-card-content>

          <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="message()">Message</md-button>
            <md-button ng-click="exit()">Leave</md-button>
          </md-card-actions>
        </md-card>
      </div>

      <div flex-xs flex-gt-xs="50" layout="column">
        <md-card md-theme="default" ng-repeat="group in myGroupsList" ng-if="$index%2!=0">
          <md-card-title style="background-color: #00BF96">
            <span class="md-headline" style="color: white;">{{group.name}}</span>
          </md-card-title>
          <md-card-title>
            <span flex="40" class="md-subhead">Capacity: {{group.size}} of {{group.limit}}</span>
            <dir-pagination-controls style="text-align: right; margin-top: -5%;" flex="60" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html" pagination-id="group.name"></dir-pagination-controls>
          </md-card-title>
          <md-card-content md-scroll-y style="height: 150px; overflow: hidden;">
            <md-list dir-paginate="members in group.members| itemsPerPage: pageSize" current-page="currentPage" pagination-id="group.name">
                <md-list-item>
                  <img ng-src="{{members.image}}" class="md-avatar" />
                  <!--<div class="md-list-item-text" layout="row">-->
                      <p>{{members.first}} {{members.last}}</p>
                  <!-- </div> -->
                  <md-divider ></md-divider>
                </md-list-item>
              </md-list>
            </md-card-content>

            <md-card-actions layout="row" layout-align="end center">
              <md-button ng-click="message()">Message</md-button>
              <md-button ng-click="exit()">Leave</md-button>
            </md-card-actions>
          </md-card>
        </div>
      </md-content>
    </md-content>
</div>
