<div ng-controller="groupController as groups">
    <md-content style="overflow-x:hidden;" flex="80" flex-offset="10">
        <h1>My Groups</h1>
        <md-button ng-controller="groupController" ng-click="showTabDialog($event)" style="margin-top:-4%;" type="button" data-toggle="modal" data-target='#n' class="md-primary md-raised btn btn-info col-xs-2 col-xs-push-10">New Group</md-button>
        <md-divider></md-divider>

        <md-list ng-repeat="group in groupsList">
            <md-button ng-click="toggleGroups($index)" style="width: 100%" data-toggle="collapse" data-target="#{{group.id}}">
                <md-list-item class="md-3-line">
                    <div class="md-list-item-text">
                        <h2 style="font-size:170%;" align="left">{{group.name}}</h2>
                    </div>
                    <i class="md-secondary {{group.arrowIcon}}"></i>
                    <md-divider ></md-divider>
                </md-list-item>
            </md-button>
            <div class="collapse" id="{{group.id}}">
                <md-subheader class="md-no-sticky" style="padding-top: 0px; padding-bottom: 0px;">
                    <div>
                        <h5 style="height: 36px; line-height: 250%;">Capacity: {{group.size}} of {{group.limit}} <md-button ng-click="removeGroup(group)" class="md-primary" style="margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; height: 30px; float: right;">Leave</md-button>
                        </h5>
                    </div>
                    <md-list ng-repeat="members in group.members" style="height: 76px; padding-top: 0px; padding-bottom: 0px;">
                        <md-list-item class="md-3-line">
                            <img ng-src="http://www.elgenero.com/images/anuel.jpg" class="md-avatar" />
                            <div class="md-list-item-text" layout="row">
                                <h3 style="margin-bottom:1%;">{{members.name}}</h3>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-subheader>
            </div>
        </md-list>
    </md-content>
</div>
