<div>
    <md-content layout="row">
      <md-content flex="55" style="overflow-x:hidden">
          <!-- <h1>My Courses</h1> -->
          <!-- <md-divider></md-divider> -->
          <md-list ng-repeat="course in courseList">
              <md-button id="greenButtons" ng-class="course.class" ng-click="toggleCourse($index)" style="width:100%;">
                  <md-list-item class="md-3-line">
                      <div class="md-list-item-text">
                          <h2 style="font-size:170%;" align="left">{{course.code}}</h2>
                      </div>
                      <!-- <i class="md-secondary {{course.arrowIcon}}"></i> -->
                      <md-divider></md-divider>
                  </md-list-item>
              </md-button>
              <!-- <div id="{{course.name}}" class="collapse">
                  <md-subheader class="md-no-sticky">Tutors available</md-subheader>
                  <md-list-item style="cursor:pointer;" type="button" data-toggle="modal" data-target='#tutor-profile-modal'>
                      <img ng-src="http://www.elgenero.com/images/anuel.jpg" class="md-avatar col-xs-2" />
                      <div style="font-size:150%;" class="col-xs-6" >Nelson Triple A</div>
                      <md-divider></md-divider>
                  </md-list-item>
              </div> -->
          </md-list>
      </md-content>
      <div flex="45" style="height: 100%;padding-bottom: 15px;">
        <md-content flex layout-padding style="margin-top: 14px;margin-left: 10px;border: 1px solid palegreen;overflow-x: hidden; margin-right: 10px;" layout = "column">
          <h4 style="font-weight:bold;" flex class="text-center">{{selectedCourse.code}}</h4>
          <md-subheader flex class="md-no-sticky">Tutors available</md-subheader>
          <div class="row">
            <div class="row">
              <div class="col-md-6 col-md-push-3 col-xs-12">
                <img style="width:90px; height:100px; display:block; margin:auto;" ng-src="http://www.elgenero.com/images/anuel.jpg"/>
              </div>
            </div>
            <div type="button" class="row">
                <p class="text-center col-lg-6 col-xs-12">Nelson Triple A</p>
                <p class="text-center col-lg-6 col-xs-12">Rating: 5/5</p>
                <!-- <md-button flex="15" class="md-primary md-raised text-center"> Teach Me!</md-button>
                <md-button flex="10" class="md-warn md-raised text-center"> Rate<i style="margin-left:15%;" class="fa fa-star"></i></md-button> -->
                <!-- <md-divider></md-divider> -->
            </div>
            <div class="row" style="padding:25px;">
              <button style="margin:3px;" class="btn btn-primary text-center col-md-5 col-md-push-1 col-xs-12"> Teach Me!</button>
              <button style="margin:3px;" class="btn btn-warning text-center col-md-5 col-md-push-1 col-xs-12"> Tip<i style="margin-left:15%;" class="fa fa-cc-visa"></i></button>
            </div>
            <md-divider></md-divider>
          </div>
        </md-content>
      </div>
    </md-content>
</div>
