<md-content flex="50">
    <md-list>
      <md-list-item class="md-3-line">
        <img ng-src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/225980_9041402923_8803_n.jpg?oh=c8ec3cabe4a27de650590c21cfc70b73&oe=58C770D1" class="md-avatar">
        <div class="md-list-item-text">
          <h3>Tahiri</h3>
          <p>Teach me how to deploy this endpoints.</p>
        </div>
        <md-divider md-inset ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </md-content>
  <md-content flex="50">
      <md-list>
        <md-list-item class="md-3-line">

        </md-list-item>
      </md-list>
    </md-content>
