<!--<div ng-controller="UserController as users" >-->
    <!--<md-content flex="80" flex-offset="10" style="overflow-x:hidden;">-->
        <!--<h1>My Courses</h1>-->
        <!--<button ng-controller="searchBarCtrl" style="margin-top:-4%;" type="button" ng-click="showAdvanced($event,tempCourses)" class="btn btn-info col-xs-2 col-xs-push-10">Add more courses</button>-->

        <!--<md-divider></md-divider>-->
        <!--<md-list ng-repeat="course in courseList">-->
            <!--<md-button ng-click="toggleCourse($index)" style="width:100%;" data-toggle="collapse" data-target="#{{course.code}}">-->
                <!--<md-list-item class="md-3-line">-->
                    <!--<div class="md-list-item-text">-->
                        <!--<h2 style="font-size:25px;" align="left">{{course.code}}</h2>-->
                    <!--</div>-->
                    <!--<i class="md-secondary {{course.arrowIcon}}"></i>-->
                    <!--<md-divider></md-divider>-->
                <!--</md-list-item>-->
            <!--</md-button>-->
            <!--<div id="{{course.code}}" class="collapse" class="row">-->
                <!--<div style="float: left">-->
                    <!--<md-switch ng-model="availability" ng-true-value="'Available'" ng-false-value="'Unavailable'" aria-label="Available" style ="font-size:175%;" >-->
                        <!--{{ availability }}-->
                    <!--</md-switch>-->
                <!--</div>-->
                <!--<div style="float: right">-->
                    <!--<md-button ng-click="showConfirm($event, course)" class="md-raised md-primary">Remove</md-button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</md-list>-->
    <!--</md-content>-->
<!--</div>-->

<!--<div ng-controller="UserController">-->
    <!--<script type="text/ng-template" id="addCourses.html">-->
        <!--<md-dialog aria-label="Add New Courses">-->
            <!--<form ng-cloak>-->
                <!--<md-toolbar>-->
                    <!--<div class="md-toolbar-tools">-->
                        <!--<h2>Please search for the courses you wish to add</h2>-->
                        <!--<span flex></span>-->
                        <!--<md-button class="md-icon-button" ng-click="cancel()">-->
                            <!--<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>-->
                        <!--</md-button>-->
                    <!--</div>-->
                <!--</md-toolbar>-->

                <!--<md-dialog-content>-->
                    <!--<div class="md-dialog-content">-->
                        <!--<searchbar></searchbar>-->
                    <!--</div>-->
                <!--</md-dialog-content>-->

                <!--<md-dialog-actions layout="row">-->
                    <!--<span flex></span>-->
                    <!--<md-button ng-click="answer('Cancel')">-->
                        <!--Cancel-->
                    <!--</md-button>-->
                    <!--<md-button ng-click="answer('Done')">-->
                        <!--Submit-->
                    <!--</md-button>-->
                <!--</md-dialog-actions>-->
            <!--</form>-->
        <!--</md-dialog>-->
    <!--</script>-->
<!--</div>-->
<div ng-controller="UserController as users">
    <md-content flex="80" flex-offset="10" style="overflow-x:hidden;">
        <h1>My Courses</h1>
        <button ng-model="tempCourses" ng-click="showAdvanced($event, tempCourses)" style="margin-top:-4%;" type="button" data-toggle="modal" data-target='#' class="btn btn-info col-xs-2 col-xs-push-10">Add more courses</button>
        <md-divider></md-divider>
        <md-list ng-repeat="course in currentCourses">
            <md-button ng-click="toggleCourse($index)" style="width:100%;" data-toggle="collapse" data-target="#{{course.code}}">
                <md-list-item class="md-3-line">
                    <div class="md-list-item-text">
                        <h2 style="font-size:25px;" align="left">{{course.code}}</h2>
                    </div>
                    <i class="md-secondary {{course.arrowIcon}}"></i>
                    <md-divider></md-divider>
                </md-list-item>
            </md-button>
            <div id="{{course.code}}" class="collapse" class="row">
                <div style="float: left">
                    <md-switch ng-model="availability" ng-true-value="'Available'" ng-false-value="'Unavailable'" aria-label="Available" style ="font-size:175%;" >
                        {{ availability }}
                    </md-switch>
                </div>
                <div style="float: right">
                    <md-button ng-click="showConfirm($event, course)" class="md-raised md-primary">Remove</md-button>
                </div>
            </div>
        </md-list>
    </md-content>
</div>

<div ng-controller="UserController">
    <script type="text/ng-template" id="addCourses.html">
        <md-dialog aria-label="Add New Courses">
            <form ng-cloak>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Please search for the courses you wish to add</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="cancel()">
                            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>

                <md-dialog-content>
                    <div class="md-dialog-content">
                        <searchbar></searchbar>
                    </div>
                </md-dialog-content>

                <md-dialog-actions layout="row">
                    <span flex></span>
                    <md-button ng-click="answer('Cancel')">
                        Cancel
                    </md-button>
                    <md-button ng-click="answer('Done'); saveCourses();">
                        Submit
                    </md-button>
                </md-dialog-actions>
            </form>
        </md-dialog>
    </script>
</div>